@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* font-family: 'Poppins', sans-serif; */

:root {
  --bg-color: #ccdbda;
  --text-color: #5f676f;
  --btn-color-active: #058179;
  --asasv-sv: #2c2c2c;
  --app-color: #f7f7f7;
  /* --app-color: #e0dede; */

  --main-bg1-color: #f6f6f6;
  --main-bg2-color: #99b1b0;
  --main-bg3-color: #758e8a;
  --main-bg4-color: #38413e;
  --main-bg5-color: #a79a53;
  --main-bg6-color: #629a6a;
}

#App {
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.app__container {
  display: flex;
  flex-direction: row;
  background-color: var(--app-color);
  padding: 15px;
  border-radius: 24px;
  width: 100%;
  max-width: 1700px;
  margin: 10px;
}
.app__logo {
  width: auto;
  height: 65px;
  background-image: url(/Logo.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.profile__img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  background-image: url(/Profile_pic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 50%;
}

.app__controls {
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__controls {
  padding-right: 15px;
}
.profile {
}
.profile__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}
.profile__user {
}
.profile__name {
  font-size: 16px;
  font-weight: 600;
}
.profile__status {
  font-size: 12px;
  color: var(--text-color);
}
.profile__options {
}
.control-btn {
  padding: 13px 0;
  cursor: pointer;
}
.control-btn:hover {
  background-color: #05817957;
  color: var(--btn-color-active);
}
.menu__container{
  overflow-y: scroll;
  max-height: 65vh;
}
.menu__container::-webkit-scrollbar {
  width: 0;
}
.menu__group {
  margin: 10px 0;
}
.pages {
}
.labels {
}
.drop_container {
  display: none;
}
.menu__title {
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0;
}
.menu__options {
}

.auth__controls {
}
.app__display {
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
  width: 100%;
}
.filter__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 38px 0;
  font-size: 16px
}
.search__pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sort{
  margin-right: 25px;
}
.display__screen {
  display: flex;
  flex-direction: row;
}
.page__name {
  font-size: 24px;
  font-weight: 600;
}
.group__title {  
  font-size: 18px;
  font-weight: 600;
}
.group__head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.task__group {
  width: 33%;
  background-color: var(--app-color);
  padding: 34px 18px;
  margin-right: 10px;
  border-radius: 10px;
}
.task__card {
  background-color: #fff;
  padding: 27px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.task__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.task__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.task__link {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: underline;
}
.create__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #058179;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}
.search__input {
  padding: 10px 20px;
  margin-right: 26px;
  border-radius: 8px;
  background-color: var(--app-color);
  border: none;
}
.search__controls{
  display: flex;
  flex-direction: row
}
.task__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.task__tag {
  color: gray;
  background-color: rgb(175, 175, 175);
  font-size: 12px;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 5px;
}
.task__tag-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.display__controls{
  display: flex; flex-direction: column
}

@media (prefers-color-scheme: light) {
}
